   $verde: rgb(28, 167, 209);
   $marron: brown;
   $azul: rgb(0, 11, 172);
   $colores: (
      "verde": rgb(17, 223, 17), 
      "marron": brown,
      "celeste": rgb(0, 182, 238),
      "rojo": red,
      "claro": rgb(159, 195, 248),
   );